<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title$</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script src="https://surveyjs.azureedge.net/1.0.63/survey.vue.min.js"></script>
  </head>
  <body>
    <div id="header">
      <div id="navigation">
        <a href="/index.html">Home</a>
        <a href="/assignment.html">Assignment</a>
        <a href="/survey.html">Submission</a>
        <a href="/contact.html">Contact</a>
      </div>
    </div>

    <div id="content">
      $body$
    </div>
  </body>
</html>
